<div class="row justify-content-md-center">
  <div class="col-md-6">
    <form novalidate #f="ngForm" (ngSubmit)="saveUser(f)" class="form-signin">
      <h2 class="h3 mb-3 font-weight-normal">Registration</h2>
      <label for="username">Username</label>
      <input #username="ngModel" name="username" [(ngModel)]="user.username" type="text" class="form-control" placeholder="Username"
        required autofocus>
      <div *ngIf="username.errors?.required && username.touched" class="alert alert-danger">
        username is required
      </div>
      <label for="inputPassword">Password</label>
      <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password"
        required>
      <div *ngIf="password.errors?.required && password.touched" class="alert alert-danger">
        Password is required
      </div>
      <label for="inputConfirmPassword">Confirm password</label>
      <input #confirmPass="ngModel" name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control" placeholder="Password"
        required>
      <div *ngIf="confirmPass.errors?.required && confirmPass.touched" class="alert alert-danger">
        Confirm your password
      </div>
      <div *ngIf="password.value!=confirmPass.value && confirmPass.touched" class="alert alert-danger">
        Password must match
      </div>
      <br>
      <button [disabled]="f.invalid || password.value!=confirmPass.value" class="btn btn-outline-success btn-block" type="submit">Register</button>
    </form>
  </div>
</div>